@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

@font-face {
	font-family: "Miso";
	src:
 	url("../../fonts/miso.eot?") format("eot"),
 	url("../../fonts/miso.woff") format("woff"),
 	url("../../fonts/miso.ttf") format("truetype"),
 	url("../../fonts/miso.svg#Miso") format("svg");
	font-style: normal;
	font-weight: normal;
}
